body {
    margin: 0;
    font-family: 'Montserrat';
  }
  header {
    background-color: white;
    padding: 15px;
  }

  nav {
      height: 100vh;
      width: 70vw;
      min-width: 600px;
      display: inline-block;
      justify-content: space-around;
      margin: auto;
      float: right;
  }

  a{
      position: relative;
      text-decoration: none;
      color: black;
      font-size: 18px;
      letter-spacing: 0.5px;
      padding: 0 10px;
  }

  a:after{
      content: "";
      position: absolute;
      background-color: #f6cfca;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
  }

  a:hover{
      color: black;
  }

  a:hover:after{
      width: 100%;
  }

  h1 {
      text-align: center;
      font-weight: 100;
  }
  h6 {
      text-align: center;
      font-size: 25px;
      font-weight: 100;
  }

h3 {
    color: black;
    font-weight: 500;
}

  header p {
    display: inline-block;
    font-weight: 300;
  }
  .heroImg {

    padding: 100px 15px;
    display: inline-block;
  }
  .content {
    display: inline-block;
    max-width: 250px;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFFF;
  }

  button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-weight: 100;
  }
  footer {
    background-color: white;
    padding: 7px;
    color: black;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    text-align: center;
  }
  .heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
  }

  .flexContainer {
    display: flex;
    padding: 60px 30px;
  }
  p {
      font-weight: 300;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
  }
  
  .myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: white;
  }
  .workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 40px;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }